USE [BankReconciliationDB]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 20-08-16 10.32.01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[AccountNo] [nvarchar](50) NOT NULL,
	[BankName] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](50) NULL,
	[BranchName] [nvarchar](50) NOT NULL,
	[TypeOfAccount] [nvarchar](max) NULL,
	[AccountTitle] [nvarchar](max) NULL,
	[Balance] [numeric](32, 4) NOT NULL,
 CONSTRAINT [PK_BankAccounts_1] PRIMARY KEY CLUSTERED 
(
	[AccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChequeLoad]    Script Date: 20-08-16 10.32.01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChequeLoad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [varchar](150) NULL,
	[AccountNo] [nvarchar](50) NULL,
	[CheckNo] [varchar](150) NULL,
	[Status] [nvarchar](50) NULL,
	[Status2] [nvarchar](50) NULL,
 CONSTRAINT [PK__ChequeLo__3214EC075C9FFFEE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 20-08-16 10.32.01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[Passwords] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[ContactNo] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[JoiningDate] [nvarchar](50) NULL,
 CONSTRAINT [PK__Registra__1788CC4C475471A4] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 20-08-16 10.32.01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [varchar](150) NOT NULL,
	[AccountNo] [nvarchar](50) NOT NULL,
	[TransactionType] [varchar](150) NOT NULL,
	[Benificiary] [varchar](150) NULL,
	[ChequeFromBank] [nvarchar](50) NULL,
	[EFTAccountNo] [nvarchar](50) NULL,
	[Particulars] [nvarchar](max) NOT NULL,
	[CheckNo] [varchar](150) NULL,
	[Credit] [varchar](150) NULL,
	[Debit] [varchar](150) NULL,
	[CurrentBalance] [nvarchar](50) NOT NULL,
	[TransactionDates] [varchar](150) NOT NULL,
	[SubmittedBy] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Transact__3214EC071D49A54D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BankAccounts] ([AccountNo], [BankName], [ShortName], [BranchName], [TypeOfAccount], [AccountTitle], [Balance]) VALUES (N'06233000299', N'Bank Asia Limited', NULL, N'Lalmatia', N'CD', N'Kyoto Engineering & Automation ltd.', CAST(396749.2400 AS Numeric(32, 4)))
INSERT [dbo].[BankAccounts] ([AccountNo], [BankName], [ShortName], [BranchName], [TypeOfAccount], [AccountTitle], [Balance]) VALUES (N'06236000080', N'Bank Asia Limited', NULL, N'Lalmatia', N'SND ( Short Notice Diposit)', N'Kyoto Engineering & Automation Ltd.', CAST(8373.0400 AS Numeric(32, 4)))
INSERT [dbo].[BankAccounts] ([AccountNo], [BankName], [ShortName], [BranchName], [TypeOfAccount], [AccountTitle], [Balance]) VALUES (N'4032-797456-000', N'AB Bank Limited', NULL, N'Shaymoli', N'CD', N'Kyoto Engineering & Automation ltd.', CAST(599750.0000 AS Numeric(32, 4)))
SET IDENTITY_INSERT [dbo].[ChequeLoad] ON 

INSERT [dbo].[ChequeLoad] ([Id], [BankName], [AccountNo], [CheckNo], [Status], [Status2]) VALUES (1, N'Bank Asia Limited', N'06236000080', N'1711556', N'Written', NULL)
INSERT [dbo].[ChequeLoad] ([Id], [BankName], [AccountNo], [CheckNo], [Status], [Status2]) VALUES (2, N'Bank Asia Limited', N'06236000080', N'1711557', N'Written', NULL)
INSERT [dbo].[ChequeLoad] ([Id], [BankName], [AccountNo], [CheckNo], [Status], [Status2]) VALUES (3, N'Bank Asia Limited', N'06236000080', N'1711558', N'Written', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChequeLoad] OFF
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([UserId], [UserName], [UserType], [Passwords], [Name], [ContactNo], [Email], [JoiningDate]) VALUES (1, N'Ashraf', N'Admin', N'123456', N'Md. Ashraf Siddik', N'01844046624', N'ashraf.siddik@keal.com.bd', N'01-08-16 13.13.40')
INSERT [dbo].[Registration] ([UserId], [UserName], [UserType], [Passwords], [Name], [ContactNo], [Email], [JoiningDate]) VALUES (2, N'Salma', N'Admin', N'123456', N'Salma Akter', N'8801844046615, 8801686014278', NULL, NULL)
INSERT [dbo].[Registration] ([UserId], [UserName], [UserType], [Passwords], [Name], [ContactNo], [Email], [JoiningDate]) VALUES (3, N'Mosiur', N'Admin', N'12345', N'Md. Mosiur Rahman', N'017313044448, 8801844046615', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Registration] OFF
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [BankName], [AccountNo], [TransactionType], [Benificiary], [ChequeFromBank], [EFTAccountNo], [Particulars], [CheckNo], [Credit], [Debit], [CurrentBalance], [TransactionDates], [SubmittedBy], [Status]) VALUES (11, N'Bank Asia Limited', N'06236000080', N'Cash', NULL, N'', N'', N'Cash Deposit', N'', N'1000', NULL, N'1000', N'09/12/2015', NULL, NULL)
INSERT [dbo].[Transactions] ([Id], [BankName], [AccountNo], [TransactionType], [Benificiary], [ChequeFromBank], [EFTAccountNo], [Particulars], [CheckNo], [Credit], [Debit], [CurrentBalance], [TransactionDates], [SubmittedBy], [Status]) VALUES (12, N'Bank Asia Limited', N'06236000080', N'Bank Charge', N'Bank Asia', N'', NULL, N' Paid to bank asia for MICR Cheque Processing Fee', N'', NULL, N'150', N'850', N'09/12/2015', NULL, NULL)
INSERT [dbo].[Transactions] ([Id], [BankName], [AccountNo], [TransactionType], [Benificiary], [ChequeFromBank], [EFTAccountNo], [Particulars], [CheckNo], [Credit], [Debit], [CurrentBalance], [TransactionDates], [SubmittedBy], [Status]) VALUES (13, N'Bank Asia Limited', N'06236000080', N'Bank Charge', N'Bank Asia', N'', NULL, N' Paid to bank asia for VAT for MICR Cheque Processing Fee', N'', NULL, N'23', N'827', N'09/12/2015', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Transactions] OFF
